# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/tema 3/ejercicio1/nbproject/private/
/tema 3/ejercicio1/build/
/tema 3/ejercicio6/nbproject/private/
/tema 3/ejercicio6/build/
/tema 3/ejercicio8/nbproject/private/
/Tema 2/ejercicio26/build/
/Tema 2/ejercicio26/nbproject/private/
/tema 3/ejercicio8/build/
/tema 3/ejercicio32/nbproject/private/
/tema 3/ejercicio32/build/
/tema 3/ejercicio9/nbproject/private/
/tema 3/ejercicio9/build/
